.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
    margin: 50px 100px;
}

.projects-title {
    position: relative;
    font-size: 60px;
    font-weight: 500;
    padding: 0px 30px;
}

.projects-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: flex-start; 
    max-width: 1200px; 
    width: 100%; 
}

.project-card {
    background: transparent;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    width: 340px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.project-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
}

.project-image {
    width: 100%;
    height: 230px;
    object-fit: cover;
    border-radius: 10px;
}

.project-title {
    font-size: 24px;
    font-weight: 600;
}

.project-description {
    padding: 10px 0px;
    font-size: 14px;
    color: #6b7280;
    line-height: 1.5;
}

.project-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px 0px;
}

.project-tag {
    background: #1f2937;
    color: #61dafb;
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 5px;
}

@media (max-width: 768px) {
    .projects {
        margin: 50px 60px;
    }

    .projects-container {
        justify-content: center; 
    }

    .projects-title {
        font-size: 50px;
    }

    .project-card {
        flex-direction: row; 
        width: 100%; 
        gap: 20px;
    }

    .project-image {
        width: 40%; 
        height: auto;
        border-radius: 10px;
    }

    .project-card-content {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .project-title {
        font-size: 22px; 
    }

    .project-description {
        font-size: 14px; 
    }

    .project-tags {
        gap: 5px;
    }

    .project-tag {
        font-size: 10px; 
    }
}

@media (max-width: 450px) {
    .projects {
        margin: 10px 20px;
    }

    .projects-title {
        font-size: 40px;
    }

    .project-card {
        width: 100%;  
        padding: 10px; 
        gap: 15px;
        display: flex;
        flex-direction: column; 
        align-items: center; 
    }

    .project-image {
        width: 100%;
        height: 200px; 
        object-fit: cover; 
        border-radius: 10px;
    }

    .project-card-content {
        display: flex;
        flex-direction: column;
        gap: 12px;
        width: 100%; 
    }

    .project-title {
        font-size: 18px; 
        text-align: center;
        margin: 0;
    }

    .project-description {
        font-size: 14px; 
        text-align: center; 
    }

    .project-tags {
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
        gap: 8px;
    }

    .project-tag {
        font-size: 10px;
        padding: 5px 10px;
        border-radius: 5px;
    }
}




