.footer {
    margin: 50px 170px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.footer-bottom {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
@media(max-width:768px) {
    .footer {
        margin: 50px 70px;
    }
}
@media(max-width: 370px) {
    .footer {
        margin: 50px 30px;
    }
    .footer-bottom {
        font-size: 12px;
    }
}
